$red: #f44336;
$pink: #e91e63;
$purple: #9c27b0;
$deep-purple: #673ab7;
$indigo: #3f51b5;
$blue: #2196f3;
$light-blue: #03a9f4;
$cyan: #00bcd4;
$teal: #009688;
$green: #4caf50;
$light-green: #8bc34a;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$orange: #ff9800;
$deep-orange: #ff5722;
$brown: #795548;
$blue-grey: #607d8b;

$grey: (
    lightester: #fafcfc,
    lightest: #f0f4f7,
    lighter: #eaeaea,
    light: #ccc,
    default: #9e9e9e,
    dark: #4c555a,
    darker: #2d3134,
    darkest: #1e2224,
    darkester: #191d1f,
);

$white: #fff;
$black: #000;
