$blue: (
    lighter: #f3f7f9,
    light: #8fbcd4,
    default: #0f75d4,
);
$green: (
    default: #6ac174,
);
$red: (
    default: #c97a7e,
);
$white: #fff;
$black: #000;
$grey: (
    lightest: #fdfdfd,
    lighter: #eee,
    light: #ccc,
    default: #666,
    dark: #2e3336,
    darker: #333,
    darkest: #1e2224,
    darkester: #191d1f,
);
