$blue: (
    default: #0f75d4,
);
$white: #fff;
$black: #000;
$grey: (
    lightest: #fdfdfd,
    lighter: #f3f7f9,
    light: #ccc,
    default: #666,
    dark: #2e3336,
    darker: #333,
    darkest: #1e2224,
);
