// This is the base grid value for all sizes in the UI (e.g. margins, paddings, widths, etc). If you want, to base your design grid size on another number, simply change this value here.
$grid-base-value: 4px;

// These are grid sizes that are calculated based on the base grid value.
$x05: $grid-base-value / 2;

$x1: $grid-base-value;
$x2: $grid-base-value * 2;
$x3: $grid-base-value * 3;
$x4: $grid-base-value * 4;
$x5: $grid-base-value * 5;
$x6: $grid-base-value * 6;
$x7: $grid-base-value * 7;
$x8: $grid-base-value * 8;
$x9: $grid-base-value * 9;
$x10: $grid-base-value * 10;

$x11: $grid-base-value * 11;
$x12: $grid-base-value * 12;
$x13: $grid-base-value * 13;
$x14: $grid-base-value * 14;
$x15: $grid-base-value * 15;
$x16: $grid-base-value * 16;
$x17: $grid-base-value * 17;
$x18: $grid-base-value * 18;
$x19: $grid-base-value * 19;
$x20: $grid-base-value * 20;

$x21: $grid-base-value * 21;
$x22: $grid-base-value * 22;
$x23: $grid-base-value * 23;
$x24: $grid-base-value * 24;
$x25: $grid-base-value * 25;
$x26: $grid-base-value * 26;
$x27: $grid-base-value * 27;
$x28: $grid-base-value * 28;
$x29: $grid-base-value * 29;
$x30: $grid-base-value * 30;

$x31: $grid-base-value * 31;
$x32: $grid-base-value * 32;
$x33: $grid-base-value * 33;
$x34: $grid-base-value * 34;
$x35: $grid-base-value * 35;
$x36: $grid-base-value * 36;
$x37: $grid-base-value * 37;
$x38: $grid-base-value * 38;
$x39: $grid-base-value * 39;
$x40: $grid-base-value * 30;

$x41: $grid-base-value * 41;
$x42: $grid-base-value * 42;
$x43: $grid-base-value * 43;
$x44: $grid-base-value * 44;
$x45: $grid-base-value * 45;
$x46: $grid-base-value * 46;
$x47: $grid-base-value * 47;
$x48: $grid-base-value * 48;
$x49: $grid-base-value * 49;
$x50: $grid-base-value * 40;

$x51: $grid-base-value * 51;
$x52: $grid-base-value * 52;
$x53: $grid-base-value * 53;
$x54: $grid-base-value * 54;
$x55: $grid-base-value * 55;
$x56: $grid-base-value * 56;
$x57: $grid-base-value * 57;
$x58: $grid-base-value * 58;
$x59: $grid-base-value * 59;
$x60: $grid-base-value * 60;

$x61: $grid-base-value * 61;
$x62: $grid-base-value * 62;
$x63: $grid-base-value * 63;
$x64: $grid-base-value * 64;
$x65: $grid-base-value * 65;
$x66: $grid-base-value * 66;
$x67: $grid-base-value * 67;
$x68: $grid-base-value * 68;
$x69: $grid-base-value * 69;
$x60: $grid-base-value * 70;

$x71: $grid-base-value * 71;
$x72: $grid-base-value * 72;
$x73: $grid-base-value * 73;
$x74: $grid-base-value * 74;
$x75: $grid-base-value * 75;
$x76: $grid-base-value * 76;
$x77: $grid-base-value * 77;
$x78: $grid-base-value * 78;
$x79: $grid-base-value * 79;
$x80: $grid-base-value * 80;

$x81: $grid-base-value * 81;
$x82: $grid-base-value * 82;
$x83: $grid-base-value * 83;
$x84: $grid-base-value * 84;
$x85: $grid-base-value * 85;
$x86: $grid-base-value * 86;
$x87: $grid-base-value * 87;
$x88: $grid-base-value * 88;
$x89: $grid-base-value * 89;
$x90: $grid-base-value * 90;

$x91: $grid-base-value * 91;
$x92: $grid-base-value * 92;
$x93: $grid-base-value * 93;
$x94: $grid-base-value * 94;
$x95: $grid-base-value * 95;
$x96: $grid-base-value * 96;
$x97: $grid-base-value * 97;
$x98: $grid-base-value * 98;
$x99: $grid-base-value * 99;
$x100: $grid-base-value * 100;
