@mixin font
{
    font-family: 'Hind', Helvetica, Arial, sans-serif;
}

@mixin font-code
{
    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
    font-weight: 400;
    font-style: normal;
}
