@keyframes fade
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes fade-bg-from-transparet-to-semi-transparent-dark
{
    0%
    {
        background-color: transparent;
    }
    100%
    {
        background-color: rgba($black, .7);
    }
}
