body
{
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;

    overflow: hidden;

    letter-spacing: .1px;

    color: color($grey, dark);
    background: $white;

    unicode-bidi: bidi-override;
    @include font;
}
