h1,
h2,
h3,
h4,
h5
{
    color: color($grey, darkest);
}

h4,
h5
{
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;

    text-transform: uppercase;
}

h1
{
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
}

h3
{
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
}

h5
{
    color: color($grey, default);
}
