$header-height: $x13;
$header-height-mobile: $x10;
$sidebar-width: $x55;
$sidebar-width-medium: $x45;
$sidebar__navigation__items-height: $x5;
$method__copy-width: 50%;
$method__list__item__label-space: $x40;
