*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &:after,
    &:before
    {
        box-sizing: border-box;
    }
}

html
{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

:focus
{
    outline: none;
}

input
{
    border: none;
}

a
{
    user-select: none;
    text-decoration: none;
}

ul,
li
{
    list-style-type: none;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}
