.rtl
{
    direction: rtl;

    .header
    {
        right: 0;
        left: initial;
    }

    .header__logo
    {
        float: right;
    }
    .sidebar
    {
        right: 0;
        left: initial;

        border-right: none;
        border-left: 1px solid color($grey, lightest);
    }
    .content
    {
        right: $sidebar-width;
        left: initial;
    }
    .route__copy
    {
        float: right;
    }
    .route__example
    {
        margin-right: $route__copy-width;
        margin-left: 0;
    }
    .background
    {
        right: $sidebar-width;
        left: 0;
    }
    .background__actual
    {
        right: $route__copy-width;
        left: 0;
    }

    .route__list__item__label
    {
        float: right;

        text-align: left;
    }

    .route__list__item__description
    {
        margin: 0 $route__list__item__label-space 0 0;
    }

    .route__list__item__label .header-anchor
    {
        left: initial;
    }
}
