.rtl
{
    direction: rtl;

    // Header
    .header__section
    {
        float: right;
    }
    .header__logo
    {
        background-position: right center;
    }
    // Sidebar
    .sidebar
    {
        right: 0;
        left: initial;

        border-right: none;
        border-left: 1px solid color($grey, lightest);
    }
    .sidebar__navigation__item
    {
         + .sidebar__navigation__items .sidebar__navigation__item
        {
            padding-right: $x8;
            padding-left: $x5;
        }
    }
    // Content
    .content
    {
        right: $sidebar-width;
        left: initial;
    }
    .method__copy
    {
        float: right;
    }
    .method__example
    {
        margin-right: $method__copy-width;
        margin-left: 0;
    }
    .background
    {
        right: $sidebar-width;
        left: 0;
    }
    .background__actual
    {
        right: $method__copy-width;
        left: 0;
    }
    //  Content table
    .method__list__item__label
    {
        text-align: right;
    }

    .method__list__item__description
    {
        margin: $x2 $x1 0 0;

        @include respond-to(wide-screens)
        {
            margin: 0 $method__list__item__label-space 0 0;
        }
    }

    .method__list__item__label .header-anchor
    {
        left: initial;
    }
}
