.main
{
    z-index: z-index(above);

    min-height: 100vh;
    margin-left: 230px;
    padding-bottom: 1px;

    background-color: #f3f7f9;
}

.main__content
{
    z-index: z-index(fixed);

    h1
    {
        font-size: 25px;
        font-weight: bold;

        display: block;
        clear: both;

        box-sizing: border-box;
        margin: .67em 0;
        margin-top: 2em;
        margin-right: 50%;
        margin-bottom: 21px;
        padding: 0 28px;
        padding-top: .5em;
        padding-bottom: .5em;

        border-top: 1px solid color($grey, light);
        border-bottom: 1px solid color($grey, light);
        background-color: #fdfdfd;

        &:first-child
        {
            margin-top: 0;

            border-top-width: 0;
        }
    }

    p
    {
        line-height: 1.6;

        display: block;

        box-sizing: border-box;
        margin: 1em 50% 1em 0;
        padding: 0 28px;
    }
}
