.main
{
    z-index: z-index(above);

    min-height: 100vh;
    margin-left: 230px;
    padding-bottom: 1px;

    background-color: color($blue, lighter);
}

.main__content
{
    z-index: z-index(fixed);

    p,
    li,
    dt,
    dd
    {
        line-height: 1.6;

        margin-bottom: 1em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
     > p,
    table,
    ul,
    ol,
    dl
    {
        margin-right: 50%;
        padding: 0 28px;
    }

    h1,
    h2,
    div
    {
        clear: both;
    }

    h3,
    h4,
    h5,
    h6
    {
        font-size: 15px;

        margin-top: 2.5em;
        margin-bottom: .8em;
    }

    h1
    {
        font-size: 25px;

        margin-top: 2em;
        margin-bottom: 21px;
        padding-top: .5em;
        padding-bottom: .5em;

        border-top: 1px solid color($grey, light);
        border-bottom: 1px solid color($grey, light);
        background-color: color($grey, lighter);

        &:first-child
        {
            margin-top: 0;

            border-top-width: 0;
        }
    }

    h2
    {
        font-size: 19px;

        margin-top: 4em;
        margin-bottom: 0;
        padding-top: 1.2em;
        padding-bottom: 1.2em;

        border-top: 1px solid color($grey, light);
        background-image: linear-gradient(to bottom, rgba($white, .2), rgba($white, 0));
    }

    h1 + h2
    {
        margin-top: -21px;

        border-top: none;
    }

    code
    {
        font-size: 12px;
        line-height: 1.5;

        padding: 3px;

        word-break: break-all;
        hyphens: auto;

        border-radius: 3px;
        background-color: rgba($black, .05);

        @include font-code;
    }

    table
    {
        display: block;
        overflow: auto;

        margin-bottom: 1em;

        tr
        {
            &:last-child
            {
                border-bottom: 1px solid color($grey, light);
            }

            &:nth-child(odd) > td
            {
                background-color: $white;
            }

            &:nth-child(even) > td
            {
                background-color: color($grey, lighter);
            }
        }

        th,
        td
        {
            line-height: 1.6;

            text-align: left;
            vertical-align: top;
        }

        th
        {
            padding: 5px 10px;

            vertical-align: bottom;

            border-bottom: 1px solid color($grey, light);
        }

        td
        {
            padding: 10px;
        }
    }

    blockquote
    {
        float: right;
        clear: right;

        width: 50%;
        margin: 0;

        color: #fff;
        background-color: #1e2224;

        p
        {
            margin: 0;
            padding: 13px 2em;

            color: #eee;
            background-color: #191d1f;
        }
    }
}
