@mixin icon($url)
{
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center;
}

@mixin mask-icon($url)
{
    mask-image: url($url);
    mask-position: center;
    mask-repeat: no-repeat;
}

@mixin respond-to($media)
{
    @if $media == mobile-screens
    {
        @media only screen and (max-width: $break-mobile)
        {
            @content;
        }
    }
    @else if $media == small-screens
    {
        @media only screen and (max-width: $break-small)
        {
            @content;
        }
    }
    @else if $media == medium-screens
    {
        @media only screen and (max-width: $break-large)
        {
            @content;
        }
    }
    @else if $media == wide-screens
    {
        @media only screen and (min-width: $break-large - 100)
        {
            @content;
        }
    }
}

@mixin is-absolutely-positioned-center
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}
