.background
{
    position: fixed;
    z-index: z-index(default);
    top: 0;
    right: 0;
    bottom: 0;
    left: $sidebar-width + 1;

    @include respond-to(medium-screens)
    {
        left: $sidebar-width-medium + 1;
    }
    @include respond-to(small-screens)
    {
        left: 0;
    }
    @include respond-to(mobile-screens)
    {
        display: none;
    }
}

.background__actual
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $method__copy-width;

    background: $background__actual-background-color;
}
