.content
{
    position: absolute;
    z-index: z-index(above);
    top: 0;
    right: 0;
    bottom: 0;
    left: $sidebar-width + 1;

    overflow-x: hidden;
    overflow-y: scroll;

    @include respond-to(medium-screens)
    {
        left: 181px;
    }
}

.method
{
    position: relative;
    z-index: z-index(default) + 1;

    overflow: hidden;

    &:last-child
    {
        min-height: 100vh;
    }
}

.method__area
{
    overflow: hidden;
}

.method__copy
{
    float: left;

    width: $route__copy-width;
    padding: 0 0 $x12;

<<<<<<< HEAD
    .route__area
=======
    .method.first-of-group:not(:first-child) &
    {
        border-top: 1px solid #f0f4f7;
    }

    .method__area &:first-child
>>>>>>> 10a4a7135f8ebc11a26cbe19dacc36177239a2a3
    {
        &:first-child
        {
            padding-top: $x7;
        }
    }

    code
    {
        font-size: 13px;
        line-height: $x5;

        display: inline-block;

        padding: 0 $x1;

        color: $purple;
        border: 1px solid color($grey, lightest);
        border-radius: $x1;
        background: color($grey, lightester);

        @include font-code;
    }
}

.method__copy__padding
{
    padding: $x5 $x10;

    &:last-child
    {
        padding-bottom: 0;
    }
}

.method__list
{
    padding: $x10 $x10 0;

    .method__copy__padding + &
    {
        padding-bottom: $x10;
    }
}

.method__list__group
{
    margin-top: $x2;

    border-top: 1px solid color($grey, light);
}

.method__list__item
{
    line-height: $x6;

    padding: $x4 0;

    border-bottom: 1px solid color($grey, lightest);

    @include respond-to(wide-screens)
    {
        &:after,
        &:before
        {
            display: table;

            content: '';
        }

        &:after
        {
            clear: both;
        }
    }

    &:last-child
    {
        border-bottom: 1px solid color($grey, light);
    }
}

.method__list__item__label
{
    font-size: 14px;
    line-height: $x5;

    white-space: normal;
    word-break: break-all;

    @include respond-to(wide-screens)
    {
        position: relative;
        z-index: z-index(default) + 4;

<<<<<<< HEAD
    width: $x45;
=======
        float: left;
>>>>>>> 10a4a7135f8ebc11a26cbe19dacc36177239a2a3

        width: 180px;

        text-align: right;
    }
    @include respond-to(wide-screens)
    {
        .method__list:not(.is-empty) &:after
        {
            font-weight: 400;

<<<<<<< HEAD
    .route__list:not(.is-empty)
    {
        &:after
        {
            font-weight: 400;

            position: absolute;
            top: 0;
            left: 200px;

            content: '\2014';
            text-align: left;

            color: color($grey, lightest);
=======
            position: absolute;
            top: 0;
            left: 200px;

            content: '\2014';
            text-align: left;

            color: #dde4e8;
        }
    }

    &:hover
    {
        .header-anchor
        {
            opacity: 1;
>>>>>>> 10a4a7135f8ebc11a26cbe19dacc36177239a2a3
        }
    }

    .method__list.is-empty &
    {
        font-weight: 400;

        text-align: center;

<<<<<<< HEAD
        color: color($grey, default);
=======
        color: #939da3;

        @include respond-to(wide-screens)
        {
            width: 100%;
        }
>>>>>>> 10a4a7135f8ebc11a26cbe19dacc36177239a2a3
    }

    .header-anchor
    {
        position: relative;
        top: $x1;
        left: -$x5;

        display: inline-block;

        width: $x5;
        height: $x5;
        margin-right: -$x4;

        transition: opacity .2s ease, border .2s ease;

        opacity: 0;
        border: 1px solid transparent;
        border-radius: $x1;
        background-position: 50% 50%;
        background-size: $x3 $x3;

        @include icon('../img/anchor@2x.png');
        isolation: isolate;

        &:hover
        {
            border: 1px solid color($grey, lighter);
        }
    }
}

.method__list__item__label__details
{
    font-size: 13px;
    font-weight: 400;

    word-break: normal;

<<<<<<< HEAD
    color: color($grey, default);
=======
    color: #939da3;

    @include respond-to(wide-screens)
    {
        display: block;
    }
>>>>>>> 10a4a7135f8ebc11a26cbe19dacc36177239a2a3
}

.method__list__item__label__badge
{
    font-size: 11px;
    font-weight: 600;
<<<<<<< HEAD
    line-height: $x4;

    padding: $x1 0 0;
=======
    line-height: 20px;

    display: inline-block;

    margin-left: 5px;
    padding: 0 8px;
>>>>>>> 10a4a7135f8ebc11a26cbe19dacc36177239a2a3

    vertical-align: top;
    text-transform: uppercase;

<<<<<<< HEAD
    color: $amber;
=======
    color: #ffae54;
    border: 1px solid rgba(255,174,84,.5);
    border-radius: 11px;
>>>>>>> 10a4a7135f8ebc11a26cbe19dacc36177239a2a3

    @extend .method__list__item__label__details;
    @include respond-to(wide-screens)
    {
        line-height: 1.2em;

        display: block;

        margin-left: 0;
        padding: 4px 0 0;

        border: 0;
        border-radius: 0;
    }
}

<<<<<<< HEAD
.route__list__item__description
=======
.method__list__item__description
>>>>>>> 10a4a7135f8ebc11a26cbe19dacc36177239a2a3
{
    line-height: $x5;

    @include respond-to(wide-screens)
    {
        position: relative;
        z-index: z-index(above);

        margin: 0 0 0 200px;

<<<<<<< HEAD
    margin: 0 0 0 $route__list__item__label-space;

    background: $white;
    p
    {
        margin-top: $x1;
=======
        background: #fff;

        p
        {
            margin-top: 0;
        }
    }

    p
    {
        font-size: inherit;
>>>>>>> 10a4a7135f8ebc11a26cbe19dacc36177239a2a3
    }
}

.method__example
{
    position: relative;
    z-index: z-index(default) + 1;

    margin-left: $route__copy-width;
    padding: $x10 0 $x12;

<<<<<<< HEAD
    .route__area
=======
    color: #dde4e8;

    .method__area &:first-child
>>>>>>> 10a4a7135f8ebc11a26cbe19dacc36177239a2a3
    {
        &:first-child
        {
            padding-top: $x18;
        }
    }

    code,
    pre
    {
        text-align: left;
        white-space: pre-wrap;
        word-spacing: normal;
        word-break: break-word;
        tab-size: 4;
        hyphens: none;

        color: color($grey, light);

        direction: ltr;
    }

    pre
    {
        font-size: 13px;
        font-weight: 500;
        line-height: $x5;

        padding: $x5 $x10;

        border-radius: $x3 / 2;
        background: color($grey, darkest);

        @include font-code;
    }
}

.method__example__part
{
    padding: $x7 $x10;
}

.method__example__declaration,
.method__example__response
{
    padding: $x5 0;

    &:first-child
    {
        padding-top: 0;
    }

    &:before
    {
        display: inline-block;

        margin-right: $x1;
        padding-bottom: $x2;

        color: color($grey, lightest);

        @include font;
    }
}

.method__example__declaration
{
    &:before
    {
        content: 'Definition';
    }
}


.method__example__response
{
    &:before
    {
        content: 'Example Response';
    }
}
