.content
{
    position: absolute;
    z-index: z-index(above);
    top: 0;
    right: 0;
    bottom: 0;
    left: $sidebar-width + 1;

    overflow-x: hidden;
    overflow-y: scroll;
}

.route
{
    position: relative;
    z-index: z-index(default) + 1;

    overflow: hidden;
}

.route__area
{
    overflow: hidden;
}

.route__copy
{
    float: left;

    width: 45%;
    padding: 0 0 50px;

    .route__area &:first-child
    {
        padding-top: 30px;
    }
}

.route__copy__padding
{
    padding: $x5 $x10;

    &:last-child
    {
        padding-bottom: 0;
    }
}

.route__list
{
    padding: $x10 $x10 0;

    .route__copy__padding + &
    {
        padding-bottom: $x10;
    }
}

.route__list__group
{
    margin-top: $x2;

    border-top: 1px solid color($grey, light);
}

.route__list__item
{
    line-height: $x6;

    padding: $x4 0;

    border-bottom: 1px solid color($grey, lighter);

    &:after,
    &:before
    {
        display: table;

        content: '';
    }

    &:after
    {
        clear: both;
    }
}

.route__list__item__label
{
    font-size: 14px;
    line-height: 21px;

    position: relative;
    z-index: z-index(default) + 4;

    float: left;

    width: $x45;

    text-align: right;
    white-space: normal;
    word-break: break-all;

    &:hover
    {
        .header-anchor
        {
            opacity: 1;
        }
    }

    .header-anchor
    {
        position: relative;
        top: $x05;
        left: -$x5;

        display: inline-block;

        width: $x4;
        height: $x4;
        margin-right: -$x4;

        opacity: 0;
        background-image: url('../img/anchor.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: $x3 $x3;

        isolation: isolate;
    }
}

.method__list__item__validation
{
    font-size: 13px;
    font-weight: 500;

    display: block;

    text-transform: none;
    word-break: normal;

    color: color($grey, default);
}

.route__list__item__description
{
    font-size: 14px;
    line-height: 21px;

    position: relative;
    z-index: z-index(above);

    margin: 0 0 0 $x50;

    background: $white;
}
