.content
{
    position: absolute;
    z-index: z-index(above);
    top: 0;
    right: 0;
    bottom: 0;
    left: 221px;

    overflow-x: hidden;
    overflow-y: scroll;
}

.method
{
    position: relative;
    z-index: z-index(default) + 1;

    overflow: hidden;
}

.method__area
{
    overflow: hidden;
}

.method__copy
{
    float: left;

    width: 45%;
    padding: 0 0 50px;

    .method.first-of-group:not(:first-child) &
    {
        border-top: 1px solid #f0f4f7;
    }

    .method__area &:first-child
    {
        padding-top: 30px;
    }

    code
    {
        font-size: 13px;
        line-height: 20px;

        display: inline-block;

        padding: 0 5px;

        color: #b93d6a;
        border: 1px solid #f0f4f7;
        border-radius: 4px;
        background: #fafcfc;

        @include font-code;
    }
}

.method__copy__padding
{
    padding: 20px 40px;

    &:last-child
    {
        padding-bottom: 0;
    }
}

.method__list
{
    padding: 40px 40px 0;

    .method__copy__padding + &
    {
        padding-bottom: 40px;
    }
}

.method__list__group
{
    margin-top: 8px;

    border-top: 1px solid #e1e8ed;
}

.method__list__item
{
    line-height: 24px;

    padding: 17px 0;

    border-bottom: 1px solid #f0f4f7;

    &:after,
    &:before
    {
        display: table;

        content: '';
    }

    &:after
    {
        clear: both;
    }

    &:last-child
    {
        border-bottom: 1px solid #e1e8ed;
    }
}

.method__list__item__label
{
    font-size: 14px;
    line-height: 21px;

    position: relative;
    z-index: z-index(default) + 4;

    float: left;

    width: 180px;

    text-align: right;
    white-space: normal;
    word-break: break-all;

    &:hover
    {
        .header-anchor
        {
            opacity: 1;
        }
    }

    .method__list:not(.is-empty) &:after
    {
        font-weight: 400;

        position: absolute;
        top: 0;
        left: 200px;

        content: '\2014';
        text-align: left;

        color: #dde4e8;
    }

    .method__list.is-empty &
    {
        font-weight: 400;

        width: 100%;

        text-align: center;

        color: #939da3;
    }

    .header-anchor
    {
        position: relative;
        top: 3px;
        left: -15px;

        display: inline-block;

        width: 15px;
        height: 14px;
        margin-right: -15px;

        opacity: 0;
        background-position: 50% 50%;
        background-size: 9px 8px;

        @include icon('../img/anchor@2x.png');
        isolation: isolate;
    }
}

.method__list__item__label__details
{
    font-size: 13px;
    font-weight: 400;

    display: block;

    word-break: normal;

    color: #939da3;
}

.method__list__item__label__badge
{
    font-size: 11px;
    font-weight: 600;
    line-height: 1.2em;

    padding: 4px 0 0;

    text-transform: uppercase;

    color: #ffae54;

    @extend .method__list__item__label__details;
}

.method__list__item__description p
{
    font-size: 14px;
    line-height: 21px;

    position: relative;
    z-index: z-index(above);

    margin: 0 0 0 200px;

    background: #fff;
}

.method__example
{
    position: relative;
    z-index: z-index(default) + 1;

    margin-left: 45%;
    padding: 42px 0 50px;

    color: #dde4e8;

    .method__area &:first-child
    {
        padding-top: 72px;
    }

    code,
    pre
    {
        text-align: left;
        white-space: pre-wrap;
        word-spacing: normal;
        word-break: break-word;
        tab-size: 4;
        hyphens: none;

        color: #d0d0d0;

        direction: ltr;
    }

    pre
    {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.5em;

        padding: 20px 40px;

        border-radius: 5px;
        background: #272b2d;

        @include font-code;
    }
}

.method__example__part
{
    padding: 30px 40px;
}

.method__example__declaration,
.method__example__response
{
    padding: 20px 0;

    &:first-child
    {
        padding-top: 0;
    }

    &:before
    {
        font-size: 15px;
        font-weight: 500;

        display: inline-block;

        margin-right: 5px;
        padding-bottom: 8px;

        letter-spacing: .1px;

        color: #d0d4d7;

        @include font;
    }
}

.method__example__declaration
{
    &:before
    {
        content: 'Definition';
    }
}


.method__example__response
{
    &:before
    {
        content: 'Example Response';
    }
}
