.header
{
    position: absolute;
    z-index: z-index(fixed) + 1;
    top: 0;
    left: 0;

    width: $sidebar-width;
    padding: 0 $x5;

    border-bottom: 1px solid color($grey, lighter);
}

%header__section
{
    height: $x13;
}

.header__sidebar
{
    width: 100%;

    @extend %header__section;
}

.header__logo
{
    top: $x3;

    display: block;
    float: left;

    width: $x5;
    height: 100%;

    background:
    {
        position: center;

        repeat: no-repeat;
        size: $x5;
    };

    @include icon('../svg/logo.svg');
}
