.header
{
    position: absolute;
    z-index: z-index(fixed) + 1;
    top: 0;
    left: 0;
}

%header__section
{
    height: $x13;
}

.header__sidebar
{
    position: absolute;
    top: 0;
    left: 0;

    width: $sidebar-width;

    border-bottom: 1px solid color($grey, lighter);

    @extend %header__section;
}

.header__logo
{
    position: relative;
    top: $x3;
    left: $x5;

    display: block;

    width: $x5;
    height: $x7;

    background-repeat: no-repeat;
    background-size: $x5 $x7;

    @include icon('../svg/logo.svg');
}
