.header
{
    position: absolute;
    z-index: z-index(fixed) + 1;
    top: 0;
    right: 0;
    left: 221px;

    @include respond-to(medium-screens)
    {
        left: 181px;
    }
}

%header__section
{
    height: 49px;
}

.header__sidebar
{
    position: absolute;
    top: 0;
    left: -221px;

    width: 220px;

    border-bottom: 1px solid #f0f4f7;

    @extend %header__section;
    @include respond-to(medium-screens)
    {
        left: -181px;

        width: 180px;
    }
}

.header__logo
{
    position: relative;
    top: 6px;
    left: 10px;

    display: block;

    width: 100%;
    height: 38px;

    background-repeat: no-repeat;
    background-position: left center !important;

    @include icon('../svg/logo.svg');
}
