$sidebar__search-margin: $x3;
$sidebar__search-height: $x7;
$sidebar__search-before-size: $x3;


.sidebar
{
    font-size: $x3;
    font-weight: bold;

    position: fixed;
    z-index: 30;
    top: 0;
    bottom: 0;
    left: 0;

    overflow-x: hidden;
    overflow-y: auto;

    width: $x60;

    transition: left .3s ease-in-out;

    background-color: color($grey, dark);
}

.sidebar__logo
{
    max-width: 100%;
}

.sidebar__search:before
{
    top: $sidebar__search-margin + $x2;
    left: $sidebar__search-margin + $x2;

    width: $sidebar__search-before-size;
    height: $sidebar__search-before-size;

    @include pseudo-icon('../svg/sidebar--search.svg');
}

.sidebar__search__input
{
    font-size: $x3;
    font-weight: bold;
    line-height: $sidebar__search-height;

    box-sizing: border-box;
    width: calc(100% - #{$sidebar__search-margin * 2});
    height: $sidebar__search-height;
    margin: $sidebar__search-margin;
    padding: 0 $x3 0 #{$sidebar__search-before-size + $x4};

    transition: all .2s ease;

    color: $white;
    border: 1px solid color($grey, default);
    border-radius: $x05;
    outline: none;
    background: color($grey, dark);

    &:hover
    {
        background-color: color($grey, darker);
    }

    &::placeholder
    {
        font-weight: lighter;
        line-height: $sidebar__search-height;
    }
}

.sidebar__item
{
    &.is-active
    {
        background-color: color($grey, darkest);
    }
    ul
    {
        li
        {
            &:last-child
            {
                padding-bottom: $x5;
            }
        }
    }
}

.sidebar__item__link
{
    line-height: $x9;

    display: block;
    overflow-x: hidden;

    padding: 0 $x4;

    transition: 130ms background linear;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;

    color: $white;

    &:hover
    {
        background-color: rgba(color($blue, default), .2);
    }
    &.is-active
    {
        background-color: color($blue, default);
    }
}

.sidebar__item__link--sub
{
    font-size: $x3;
    font-weight: 500;

    padding-left: $x6;

    @extend .sidebar__item__link;
}

.sidebar__item__link--footer
{
    font-size: 10px;
    font-weight: lighter;

    @extend .sidebar__item__link;
}

.sidebar__footer
{
    margin-top: 1em;
    padding: 1em 0;

    border-top: 1px dashed color($grey, default);
}
