.sidebar
{
    font-size: 13px;
    font-weight: bold;

    position: fixed;
    z-index: 30;
    top: 0;
    bottom: 0;
    left: 0;

    overflow-x: hidden;
    overflow-y: auto;

    width: 230px;

    transition: left .3s ease-in-out;

    background-color: color($grey, dark);
}

.sidebar__logo
{
    max-width: 100%;
}

.sidebar__search:before
{
    position: absolute;
    top: 18px;
    left: 15px;

    width: 12px;
    height: 12px;

    content: '';

    @include icon('../svg/sidebar--search.svg');
}

.sidebar__search__input
{
    font-size: 13px;
    font-weight: bold;

    width: 200px;
    margin: 10px 15px;
    padding: 6px 0 6px 20px;

    color: $white;
    border-bottom: 1px solid color($grey, default);
    background: color($grey, dark);
}

.sidebar__item
{
    &.is-active
    {
        background-color: color($grey, darkest);
    }
}

.sidebar__item__link
{
    line-height: 28px;

    display: block;
    overflow-x: hidden;

    padding: 0 15px;

    transition: background 130ms linear;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: $white;

    &.is-active
    {
        background-color: color($blue, default);
    }
}

.sidebar__item__link--sub
{
    font-size: 12px;
    font-weight: 500;

    padding-left: 25px;

    @extend .sidebar__item__link;
}

.sidebar__item__link--footer
{
    font-size: .77em;
    line-height: 1.7;

    @extend .sidebar__item__link;
}

.sidebar__footer
{
    margin-top: 1em;
    padding: 1em 0;

    border-top: 1px dashed color($grey, default);
}
