.sidebar
{
    position: absolute;
    z-index: z-index(fixed);
    top: 0;
    bottom: 0;
    left: 0;

    width: $sidebar-width;

    transition: transform .15s ease;

    background-color: color($grey, lightester);
    box-shadow: rgba($black, .05) 1px 0 0;

    @include respond-to(medium-screens)
    {
        width: $sidebar-width-medium;
    }
    @include respond-to(small-screens)
    {
        top: $header-height;

        width: $sidebar-width;

        transform: translateX(-$sidebar-width);
    }
    @include respond-to(mobile-screens)
    {
        top: $header-height-mobile;
    }
}

.sidebar-is-open
{
    .sidebar
    {
        z-index: z-index(fixed) + 10;

        width: $sidebar-width;

        transform: translateX(0);

        box-shadow: rgba($black,.05) $x1 $x2 $x5 -#{$x1};
    }
}

.sidebar__navigation
{
    position: absolute;
    top: $x12;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: scroll;

    @include respond-to(small-screens)
    {
        top: 0;
    }
}

.sidebar__navigation__heading
{
    padding: 0 $x5 $x1;

    &:first-child
    {
        padding-top: $sidebar__navigation__items-height;
    }
}

.sidebar__navigation__items
{
    line-height: $sidebar__navigation__items-height;

    padding: 0 0 $x2;

    li
    {
        line-height: $sidebar__navigation__items-height;
    }
}

.sidebar__navigation__item
{
    font-size: 15px;
    font-weight: 400;

    position: relative;

    display: block;
    overflow: hidden;

    padding: $x2 $sidebar__navigation__items-height $x3/2 $sidebar__navigation__items-height;

    transition: color .2s ease;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: color($grey, dark);


    &:hover
    {
        color: $blue;
    }

    &.is-active
    {
        color: $blue;

        &:before
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: $x3;

            width: $x1;
            height: $x1;
            margin: auto;

            content: '';
            animation: fade .3s ease forwards;

            opacity: 0;
            border-radius: 100%;
            background-color: $blue;
        }

        &:hover
        {
            text-decoration: none;

            color: $light-blue;
        }
    }
     + .sidebar__navigation__items .sidebar__navigation__item
    {
        font-size: 14px;

        padding-left: $x8;

        &.is-active
        {
            &:before
            {
                left: $x5;
            }
        }
    }
}
