@mixin icon($url)
{
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center;
}

@mixin mask-icon($url)
{
    mask-image: url($url);
    mask-position: center;
    mask-repeat: no-repeat;
}

@mixin pseudo-icon($url)
{
    position: absolute;

    content: '';

    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center;
}
