.notice
{
    line-height: 1.6;

    margin: 1.5em 50% 1.5em 0;
    padding: 1em 28px;

    &:before
    {
        padding-right: 19px;

        content: '';

        background-position: center left !important;
    }
}

.notice--info
{
    background-color: color($blue, light);

    @extend .notice;

    &:before
    {
        @include icon('../svg/notice--info.svg');
    }
}

.notice--success
{
    background-color: color($green, default);

    @extend .notice;

    &:before
    {
        @include icon('../svg/notice--success.svg');
    }
}

.notice--error
{
    background-color: color($red, default);

    @extend .notice;

    &:before
    {
        @include icon('../svg/notice--error.svg');
    }
}
