$baby-blue: #4aafed;
$blue: #0099e5;
$dark-blue: #6c8eef;
$indigo: #363b4e;
$green: #c1ef65;
$purple: #b93d6a;
$red: #e04c4c;
$pink: #f099a6;
$orange: #ffae54;
$yellow: #ffcc01;
$white: #fff;
$grey-01: #fafcfc;
$grey-02: #f0f4f7;
$grey-03: #e1e8ed;
$grey-04: #dde4e8;
$grey-05: #d0d4d7;
$grey-06: #d0d0d0;
$grey-07: #939da3;
$grey-08: #4c555a;
$grey-09: #33383b;
$grey-10: #33373a;
$grey-11: #2d3134;
$grey-12: #292e31;
$grey-13: #272b2d;
$grey-14: #242729;
$black: #000;

$token-punctuation: #f099a6;
$token-property: #c1ef65;
$token-number: #77bcd7;
$token-null: #ebde68;

// Light\Dark mode colors
$header__example__background--light: darken($indigo, 3);
$header__example__background--dark: darken($grey-14, 14);
$background__example__background--light: lighten($indigo, 1.5);
$background__example__background--dark: darken($grey-14, 8);
