$z-index: (
    'modal': 5000,
    'toolbar': 2000,
    'fixed': 500,
    'above': 10,
    'default': 1,
    'below': -1
);
$header-height: 52px;
$header-height-in-narrow-screens: 44px;
$sidebar-width-in-medium-screens: 180px;
$sidebar-width-in-large-screens: 220px;
$sidebar-width-in-wide-screens: 280px;
