$z-index: (
    'modal': 5000,
    'toolbar': 2000,
    'fixed': 500,
    'above': 10,
    'default': 1,
    'below': -1,
);

$sidebar__search-margin: $x3;
$sidebar__search-height: $x7;
$sidebar__search-before-size: $x3;
$sidebar-width: $x60;
